.--devs-hero {
    height: calc(100dvh - 60px);
}

.--devs-grid .--devs-grid-lst {
    width: 90%;
}

.--devs-grid .--devs-grid-lst .--dev-card .--dev-card-img {
    height: 360px;
}

.--devs-grid .--devs-grid-lst .--dev-card .--dev-card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: filter 0.4s ease;
}

.--devs-grid .--devs-grid-lst .--dev-card:hover .--dev-card-img img {
    filter: grayscale(0%);
}

.--devs-join .--devs-join-content {
    width: 90%;
}